@use '../../reuseableStyles/color' as c;

.about-us {
  max-width: 100%;

  .container {
    max-width: 100%;
    color: black;
    text-align: center;
    margin: 0 auto;

    h2 {
      margin-top: 3rem;
    }

    .div-1 {
      margin-top: 2rem;
      // background-color: c.$secondaryColor;
      padding: 2.7rem;

      .p-1 {
        font-weight: bold;
        margin-bottom: 1rem;
      }
      .p-3 {
        margin-top: 1.2rem;
        color: c.$mainColor;
      }
    }

    .div-2 {
      margin-top: 2rem;
      padding: 2.7rem;

      .p-1 {
        font-weight: bold;
        margin-bottom: 1rem;
      }
      .p-3 {
        margin-top: 1.2rem;
        color: c.$mainColor;
      }
    }

    .div-3 {
      margin-top: 2rem;
      // background-color: c.$secondaryColor;
      padding: 2.7rem;

      .p-1 {
        font-weight: bold;
        margin-bottom: 1rem;
      }
      .p-3 {
        margin-top: 1.2rem;
        color: c.$mainColor;
      }
    }
  }
}

@import "../../reuseableStyles/AboutUsmobile";
