@media (min-width: 762px) {
  .about-us {
    .container {
      display: flex;
      align-items: center;
      padding: 2rem;
      .div-1 {
        background-color: #fff;
        // margin-top: 0;
      }
      // .div-2 {
      //   // margin-top: -2rem;
      // }
      .div-3 {
        background-color: #fff;
        // .p-1 {
        // }
      }
    }
  }
}
