@media (min-width: 500px) {
  .redifining-quality {
    .container {
      .content {
        max-height: 100%;
        margin: auto 0;
        .p1 {
          color: c.$mainColor;

          max-height: 100%;
          margin: auto 0;
        }
        h2 {
          margin-top: 0;
          line-height: 1.3;
        }
        .cont-ps {
          margin-top: 2rem;
          // padding: 0rem rem;
          p {
            font-size: 0.8rem;
            margin: 3rem 0;
            line-height: 1.5;
            border-bottom: 1px solid c.$secondaryColor;
            padding: 0;
            background-color: #fff;
            border-radius: 0rem;
          }
        }
        .contact-us {
          margin-top: 0.5rem;
          font-size: 0.8rem;
          color: c.$mainColor;
          text-align: center;
        }
      }
    }
  }
}
@media (min-width: 700px) {
  .redifining-quality {
    .container {
      .content {
        .p1 {
        }
        h2 {
        }
        .cont-ps {
          margin-top: 2rem;
          // padding: 0rem rem;
          p {
            font-size: 0.8rem;
            margin: 3rem 0;
            line-height: 1.5;
            border-bottom: none;
            padding: 0 10rem;
            // background-color: c.$secondaryColor;
            border-radius: 0rem;
          }
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .redifining-quality {
    .container {
      max-width: 80%;
      display: grid;
      padding: 1rem;
      grid-template-columns: auto auto;
      column-gap: 3rem;
      align-items: center;
      justify-content: center;
      max-height: 90%;
      margin: 2rem auto;
      .cont-img {
        display: block;
        height: 25rem;
        margin: auto 0;
        width: 25rem;
      }
      .content {
        max-height: 80%;
        margin: 2rem;
        .p1 {
          color: c.$mainColor;
          text-align: start;
          max-height: 100%;
          margin: auto 0;
        }
        h2 {
          text-align: start;
          margin-top: 0;
          line-height: 1.3;
        }
        .cont-ps {
          margin-top: 1rem;
          p {
            font-size: 0.8rem;
            margin: 1rem 0;
            text-align: start;
            line-height: 1.5;
            border-bottom: none;
            padding: 0;
            background-color: #fff;
            border-radius: 0.5rem;
          }
        }
        .contact-us {
          margin-top: 0.5rem;
          font-size: 0.8rem;
          color: c.$mainColor;
          text-align: start;
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .redifining-quality {
    .container {
      max-width: 60%;
    }
  }
}

@media (min-width: 1400px) {
  .redifining-quality {
    .container {
      max-width: 55%;
    }
  }
}
