.footer {
  width: 100%;
  //   background-color: red;
  color: black;
  .footer-container {
    max-width: 80%;
    margin: 8rem auto 0;
    text-align: center;
    padding: 2rem;
    border-top: 1px solid #4d4e50;

    .inquires {
      color: #4d4e50;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.7rem;
      gap: 0.6rem;
    }
    .socials {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.6rem;
      margin-top: 0.9rem;
    }
    .contact {
      margin-top: 0.8rem;
      font-size: 0.7rem;
      span {
        border: 1px solid black;
        border-radius: 50%;
        padding: 0.05rem 0.25rem;
        align-items: center;
        margin-right: 0.6rem;
      }
      .right {
        margin-top: 0.7rem;
        font-size: 0.6rem;
      }
    }
    .payment-options {
      margin-top: 0.9rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.6rem;

      .paypal,
      .visa,
      .mastercard {
        background-image: url("../../Assets/FooterAssets/Rectangle.png");
        padding: 0.2rem;
      }

      .mastercard {
        display: grid;
        align-items: center;
        position: relative;
        // gap:1rem;
        .master1 {
          //   margin-right: 0.2rem;
          position: absolute;
          left: 0.3rem;
        }
      }
    }
  }
}
