@use '../../reuseableStyles/color' as c;

.test-container {
  max-width: 80%;
  //   height: 70%;
  margin: 1rem auto;
  font-size: 0.3rem;
  text-align: center;
  color: black;
  background-color: red;
  border-radius: 0.7rem;
  position: relative;
  .bkgd-img {
    width: 80%;
    height: 60%rem;
  }
  .testimony-detail {
    max-width: 70%;
    height: 70%;
    margin: 0 auto;
    background-color: white;
    top: 3rem;
    left: 0.7rem;
    position: absolute;

    border-radius: 0.7rem;
    padding: 0.8rem;
    .p-name {
      font-weight: bold;
    }
    .p-location {
      color: #4d4e5099;
    }
    .p-testimony {
      color: #4d4e5099;
      margin-top: 1rem;
    }
    .rating {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4rem;
      margin-top: 1rem;
      img {
        // margin-left: 0.3rem;
      }
    }
  }
}
