@use '../../reuseableStyles/color' as c;

.test-container {
  max-width: 70%;
  min-height: 15rem;
  margin: 2rem auto;

  text-align: center;
  background-color: green;
  color: black;
  border-radius: 0.7rem;
  object-fit: cover;
  position: relative;
  .test-background {
    width: 100%;
    height: 100%;
  }

  .testimony-detail {
    max-width: 70%;
    font-size: 0.5rem;
    max-height: 70%;
    margin: auto auto;
    background-color: #fff;
    top: 3rem;
    left: 14%;
    position: absolute;

    border-radius: 0.7rem;
    padding: 0.8rem;
    .p-name {
      font-weight: bold;
    }
    .p-location {
      color: #4d4e5099;
    }
    .p-testimony {
      color: #4d4e5099;
      margin-top: 1rem;
    }
    .rating {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4rem;
      margin-top: 1rem;
      img {
        width: 0.4rem;
        height: 0.4rem;
      }
    }
  }
}

@media (min-width: 391px) {
  .test-container {
    max-width: 60%;
  }
}

@media (min-width: 565px) {
  .test-container {
    max-width: 50%;
  }
}

@media (min-width: 600px) {
  .test-container {
    max-width: 45%;
  }
}
@media (min-width: 713px) {
  .test-container {
    max-width: 60%;
  }
}

@media (min-width: 838px) {
  .test-container {
    max-width: 65%;
  }
}
