@use '../../reuseableStyles/color' as c;

.showcase {
  // min-height: 100vh;
  max-width: 100%;
  background-image: url("../../Assets/ShowcaseAssets/showcaseImg.png");
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .container {
    max-width: 80%;
    padding: 1rem 0.2rem;
    margin: 0 auto;

    h2 {
      text-align: center;
      margin-top: 2.1rem;
      font-size: 1.3rem;
    }

    .p {
      text-align: center;
      margin-top: 0.2rem;
      font-size: 0.6rem;
      line-height: 1;
      // max-width: 10rem;
      color: c.$secondaryColor;
    }
  }
}

@import "../../reuseableStyles/Showcasemobile";
